/* --- CLASS STYLES --- */
.left {
	position: relative;
	float: left;
}
.right {
	position: relative;
	float: right;
}
.center {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.underline {
	text-decoration: underline;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}