// GENERAL TAG STYLING FOR THE SITE

/* -------------------- TAGS & PAGE ATTRIBUTES -------------------- */
* {
	margin: 0;
	padding: 0;
}
html {
	@include settings(relative, auto);
	width: 100%;
	height: 100%;
}
body {
	color: $bodyTextColor;
	@include font(16, 24, 300, $helveticaLight);
	@include aliasing(subpixel-antialiased);
	@include bg($bodyBackgroundColor);
	@include flexbox(column, center);
}
h1 {
	@include font(48, 58, 700);
}
h2 {
	@include font(36, 46, 700);
}
h3 {
	@include font(24, 32, 700);
}
h4 {
	@include font(22, 26, 700);
}
h5 {
	@include font(18, 24, 700);
}
h6 {
	@include font(16, 22, 700);
}
p {
	@include font(16, 20);
	margin-bottom: 24px;
}
a {
	color: $linkColor;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	&:hover {
		color: $linkHoverColor;
		text-decoration: underline;
		outline: none;
		cursor: pointer;
	}
	&:active {
		@include settings(relative);
		top: 1px;
		outline: none;
		cursor: pointer;
	}
	& img {
		border: 0;
		outline: none;
		cursor: pointer;
	}
}
ul {
	list-style: none;
}
ol {
	list-style: lower-alpha;
}
img {
	line-height: 0px;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
}
input {
	outline: none;
}
select {
	outline: none;
}
option {
	outline: none;
}
::-moz-selection {
	color: $selectionColor;
	background-color: $selectionBackgroundColor;
}
::selection {
	color: $selectionColor;
	background-color: $selectionBackgroundColor;
}