// GLOBAL VARIABLES AND FUNCTIONS USED THROUGHOUT THE PROJECT

// Font Families
$helveticaLight: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Sans-Serif;
$times: "Times New Roman", Times, Serif;
$georgia: "Georgia", Serif;

// Color Scheme
$black: #000000;

// Color Scheme Functions
@function black($opacity) {
	@return rgba(0,0,0,$opacity)
}
@function white($opacity) {
	@return rgba(255,255,255,$opacity)
}

// General Variables
$bodyTextColor: black;
$bodyBackgroundColor: white;
$linkColor: blue;
$linkHoverColor: lightblue;
$selectionColor: white;
$selectionBackgroundColor: red;
$formElementHeight: 20;

// Input Field Variables
$inputTextColor: black;
$inputPlaceholderColor: gainsboro;
$inputBackgroundColor: white;
$inputBorderColor: lightgray;
$inputFocusBorderColor: lighten(deepskyblue, 10%);
$inputFocusGlowColor: lighten(deepskyblue, 20%);
$inputDisabledBackgroundColor: lighten(gainsboro, 11%);
$inputInvalidTextColor: firebrick;
$inputInvalidBorderColor: lighten(crimson, 10%);
$inputInvalidFocusBorderColor: crimson;
$inputInvalidFocusGlowColor: lighten(crimson, 20%);
$inputBorderRadius: 4px;

// Select Field Variables
$selectTextColor: black;
$selectBackgroundColor: white;
$selectBorderColor: $inputBorderColor;
$selectFocusGlowColor: $inputFocusGlowColor;
$selectDisabledBackgroundColor: $inputDisabledBackgroundColor;
$selectInvalidTextColor: $inputInvalidTextColor;
$selectInvalidBorderColor: $inputInvalidBorderColor;
$selectInvalidFocusBorderColor: $inputInvalidFocusBorderColor;
$selectInvalidFocusGlowColor: $inputInvalidFocusGlowColor;
$selectBorderRadius: 4px;

// Textarea Field Variables
$textareaTextColor: $inputTextColor;
$textareaPlaceholderColor: $inputPlaceholderColor;
$textareaBackgroundColor: $inputBackgroundColor;
$textareaBorderColor: $inputBorderColor;
$textareaFocusBorderColor: $inputFocusBorderColor;
$textareaFocusGlowColor: $inputFocusGlowColor;
$textareaDisabledBackgroundColor: $inputDisabledBackgroundColor;
$textareaInvalidTextColor: $inputInvalidTextColor;
$textareaInvalidBorderColor: $inputInvalidBorderColor;
$textareaInvalidFocusBorderColor: $inputInvalidFocusBorderColor;
$textareaInvalidFocusGlowColor: $inputInvalidFocusGlowColor;
$textareaBorderRadius: 4px;

// Button Variables
$buttonTextColor: black;
$buttonBackgroundColor: gainsboro;
$buttonBorderColor: darken(gainsboro, 5%);
$buttonHoverBackgroundColor: lighten($buttonBackgroundColor, 5%);
$buttonHoverBorderColor: lighten($buttonBorderColor, 5%);
$buttonActiveBackgroundColor: darken($buttonBackgroundColor, 5%);
$buttonActiveBorderColor: darken($buttonBorderColor, 5%);
$buttonBorderRadius: 4px;