@import "wordpress";
@import "mixins";
@import "variables";
@import "reset";
@import "fonts";
@import "tags";
@import "classes";
@import "class-styles";


/* -------------------- PAGE HEADER -------------------- */
#page-header {
	@include flex(null, 0);
	margin: auto;
}


/* -------------------- PRIMARY NAVIGATION -------------------- */
#primary-nav {

}


/* -------------------- PAGE CONTENT -------------------- */
#content {
	margin: auto;
	.wrapper {
		@include flexbox(row, center);
	}
}
#main {
	//@include settings(relative, null, null, left);
	@include size(670);
	margin: auto;
}
#sidebar {
	//@include settings(relative, null, null, right);
	@include size(350);
	margin: auto;
}


/* -------------------- PAGE FOOTER -------------------- */
#page-footer {
	margin: auto;
}
#disclaimer {
	@include font(12);
}